.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: rgb(40, 44, 52);
  margin-bottom: 20px;
  margin-top: calc(40px + var(--banner-height-normal));
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
}

.active {
  border-bottom: 5px solid orangered;
}

.navbar {
  padding-bottom: 0;
}

.logo {
  height: 45px;
  width: 210px;
  object-fit: cover;
}

.navbar-brand {
  padding-bottom: 0;
  
}

li {
  list-style-type: none;
}

/* style de la page des posts */

.postContainer {
  display: flex;
  background-color: #61dafb;
  flex-direction: column;
}

.listPost {
  border: 1px red solid;
  padding-left: 0;
  max-width: 1000px;
}

.listPostItem {
  border: 1px green solid;
  border-radius: 10px;
  text-align: center;
  margin: 30px;
  background-color: burlywood;
}

.postImage {
  width: 90%;
}

/*    Page des commentaire */
.commentContainer {
  padding: 0;
}
.listComment {
  border-radius: 10px;
  padding: 20px 10px;
  background-color: rgb(204, 203, 203);
}

.listCommentItem {
  border: black solid 2px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  width: 100%;
  background-color: honeydew;
}

.commentContent {
  border-radius: 7px;
  padding: 20px;
  /* border: solid blue 1px; */
  width: 100%;
}

.commentInfo {
  text-align: center;
  border-top: black solid 1px;
  margin-bottom: 2px;
}